nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    img {
        max-width: 100%;
        width: 200px;
    }

    a {
        all: unset;
        font-weight: 700;
        margin-right: 8px;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .link-container {
        display: flex;
        gap: 5px;
    }

    .user-links {
        display: flex;
        gap: 10px;
    }
}